*{
	margin:0;
	padding: 0;
}
body{
	background: #171717;
	width: 100%;
	height: 100%;
}

.header{
	width: 100%;
	height: 60px;
	background-color: #e8e8e8;
}

footer{
	width: 100%;
	height: 190px;
	background-color: #111111;
	position: absolute;
  	left: 0;
  	bottom: 0;
}

.informationTexts{
	width: 85%;
	text-align: center;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	font-family: arial;
	margin-top:30px;
}

.informationTexts a{
	color: white;
}
.informationTexts p{
	color: #787878;
	margin-top: 35px;
}

.logoType{
	width: 200px;
	height: 50px;
	background: url("../imgs/logo.png");
	background-size: cover;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 5px;
}
.generalBlocks{
	width: 910px;
	height: 800px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}
.aboutUS{
	width: 455px;
	height: 800px;
	background: #131313;
}
.servers{
	width: 455px;
	height: 800px;
	background-color: #111111;
}
.phoneCTT{
	width: 395px;
	height: 480px;
	background: url("../imgs/phoneCTT.png");
	background-size: cover;
	margin-top: 55px;
	margin-left: auto;
	margin-right: auto;
}
.CSZFARM{
	width: 360px;
	height: 130px;
	background: #111111;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: "Gugi";
	font-weight: bold;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.CSZFARM a{
	color: white;
	position: relative;
	top: 10px;
}
.CSZFARM p{
	color:#444444;
	width: 90%;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 20px;
}

.serverIcon{
	width: 310px;
	height: 240px;
	background: url(../imgs/server.png);
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
	margin-top: 60px;
}

.borderServers{
	width: 360px;
	height: 380px;
	background: #1a1a1a;
	border-radius: 20px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	text-align: center;
}

.titleServers{
	font-family: "Gugi";
	color: white;
	font-size: 24px;
	padding-top: 20px;
}

.serverOne{
	width: 315px;
	height: 75px;
	background: #111111;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 20px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.buttonPlay{
	width: 45px;
	height: 45px;
	background: url(../imgs/buttonPlay.png);
	background-size: cover;
	margin: 25px;
	cursor: pointer;
	position: relative;
	top: 15px;
}

.ipAdress{
	color: #464545;
	font-family: "Gugi";
	font-size: 18px;
	cursor: pointer;
	margin-top: -41px;
	margin-left: 40px;
}

.notWorking{
	width: 200px;
	color: #464545;
	font-family: "Gugi";
	font-size: 18px;
	cursor: pointer;
	margin-left: 80px;
	margin-top: -55px;
}
.buttonWORK{
	width: 45px;
	height: 45px;
	background: url(../imgs/buttonWORK.png);
	background-size: cover;
	margin: 25px;
	cursor: pointer;
	position: relative;
	top: 15px;
}

@font-face {
  font-family: "Gugi";
  src: url("../fonts/Gugi.ttf");
}